
.inner {
	max-width: 800px;
}

h1 {
	font-size: 28px;
}

h1 a {
	color: inherit;
}

h2 {
	background: none;
}

h4 {
	font-size: 18px;
}

#main_content {
	padding-top: 15px;
}

#front_page #main_content {
	padding-top: 40px;
}

#header_wrap .inner {
	padding-top: 30px
}
#front_page #header_wrap .inner {
	padding-top: 50px
}

#header_wrap h1 {
	display: inline;
}

#header_wrap img {
	width: 65px;
	position: absolute;
	padding-left: 11px;
}

#section_title h2 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

#section_title {
	padding: 0;
}
#section_title_wrap {
	background-color: grey;
}

#section_title h2 {
	font-size: 23px;
}

#rf_resources {
	background-color: lightBlue;
	padding: 27px;
	padding-top: 15px;
}
#rf_resources h2 {
	font-size: 25px;
	padding: 0;
	margin: 0;
	margin-bottom: 8px;
}
#rf_resources h3 {
	font-size: 17px;
	margin: 0;
}
#rf_resources ul {
	margin: 0;
}
#rf_resources li {
	font-size: 15px;
}

pre {
	max-width: 620px;
	font-size: 11px;
	margin: 5px 0;
	line-height: 1.7em;
}
.sidenote {
	font-size: 0.8em;
	text-align: right;
	display: block;
}
.side_menu {
	font-size: 14px;
	width: 196px;
	float: left;
}
.section-title {
	font-size: 19px;
	background-color: lightBlue;
	padding: 6px 20px;
	margin: 0;
}
.section {
	background-color: white;
	padding: 6px;
}
.section li {
	list-style: none;
}
.roundTop {
	-moz-border-radius-topleft:         6px;
	-moz-border-radius-topright:        6px;
	-webkit-border-top-left-radius:     6px;
	-webkit-border-top-right-radius:    6px;
	border-radius-topleft:              6px;
	border-radius-topright:             6px;
}

.roundBottom {
	-moz-border-radius-bottomleft:      6px;
	-moz-border-radius-bottomright:     6px;
	-webkit-border-bottom-left-radius:  6px;
	-webkit-border-bottom-right-radius: 6px;
	border-radius-bottomleft:           6px;
	border-radius-bottomright:          6px;
	border-top: none;
}
.content {
	display: inline-block;
	min-height: 400px;
	width: 592px;
	margin-left: 12px;
}
.content pre {
	width: auto;
}
.content-block {
	background-color: white;
	padding: 24px;
	padding-top: 14px;
}
.content h1 {
	margin: 0;
	border-bottom: 1px solid lightGrey;
	margin-bottom: 15px;
}
.content h2 {
	font-size: 24px;
	padding: 5px 0;
	padding-bottom: 0;
}
.content h3 {
	font-size: 20px;
}
.lingo {
	font-style: italic;
	color: grey;
}
.content pre h1 {
	border: none;
	font-size: 20px;
}
.content pre form {
	background: inherit;
	padding: 0;
	margin: 0;
}
.content pre input, .content pre label {
	padding: 0;
	margin: 0;
}
