<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Rhinoforms: Make Fast, Secure Forms with minimal code" />
	<meta name="author" content="Kai Kewley">
	<link rel="shortcut icon" href="images/rhinoforms.png">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/carousel.css">
	<link rel="stylesheet" href="/css/style.css">

	<title>{{page.title}}{{page.subtitle}}</title>
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Rhinoforms</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="home"><a href="/">Home</a></li>
				<li class="api"><a href="/api/">API</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a id="forkme_banner" href="https://github.com/kaicode/rhinoforms" target="_blank">View on GitHub</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>

<div class="container">

	{{content}}

</div> <!-- /container -->

<footer>
	<div class="container">
		<p>Rhinoforms created by <a href="https://github.com/kaicode">Kai Kewley</a>.</p>
		<p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>.</p>
		<p>Site hosted on <a href="http://pages.github.com">GitHub Pages</a></p>
	</div>
</footer>

<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>if(setMenuFocus) { setMenuFocus() };</script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
